// color.scss
//기본 색상
$white: #fff;
$black: #000;
$gray100: #e1e1e1;
$gray200: #c4c4c4;
$gray300: #a6a6a6;
$gray400: #898989;
$gray500: #6b6b6b;
$gray600: #565656;
$gray700: #404040;
$gray800: #2b2b2b;
$gray900: #151515;
$red1: #ff153c;
$red2: #e93945;

//콘텐츠 별 색상 변수
$base-bg: $black; // body 기본 배경 색상
$base-text: $white; // body 기본 글자 색상

$primary-color: $red1;
$secondary-color: $red2;
