//font.scss

//heading
$heading-md: normal 700 16px / 1.4 pretendard;
$heading-lg: normal 700 21px / 1.4 pretendard;
$heading-xl: normal 700 28px / 1.4 pretendard;
$heading-xxl: normal 700 37px / 1.4 pretendard;
$heading-xxxl: normal 700 50px / 1.4 pretendard;

//label
$label-sm: normal 600 12px / 1.5 pretendard;
$label-md: normal 600 16px / 1.5 pretendard;
$label-lg: normal 600 21px / 1.5 pretendard;
$label-xl: normal 600 28px / 1.5 pretendard;
$label-xxl: normal 600 37px / 1.5 pretendard;

//paragraph
$par-sm: normal 400 12px / 1.6 pretendard;
$par-md: normal 400 16px / 1.6 pretendard;
$par-lg: normal 400 21px / 1.6 pretendard;
$par-xl: normal 400 28px / 1.6 pretendard;

$header-font: $par-lg;
$title-font: $heading-xl;
$label-font: $label-lg;
$footer-font: $par-lg;
