//mixin.scss
@use "./unit" as *;

@mixin flexbox($direction: row, $justify: flex-start, $items: stretch, $wrap: nowrap,$gap:0) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $items;
  gap: rem($gap);
}

// position
@mixin pos {
  position: absolute;
}

@mixin posLeftTop($l: 0, $t: 0) {
  @include pos;
  top: rem($t);
  left: rem($l);
}

@mixin posRightTop($r: 0, $t: 0) {
  @include pos;
  top: rem($t);
  right: rem($r);
}

@mixin posCenterX {
  @include pos;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posBottomY {
  @include pos;
  top: 100%;
  transform: translateY(-100%);
}

@mixin posCenterY {
  @include pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter {
  @include pos;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// padding
@mixin padding($spacing) {
  @include paddingX($spacing);
  @include paddingY($spacing);
}

@mixin paddingX($spacing) {
  padding-left: rem($spacing);
  padding-right: rem($spacing);
}

@mixin paddingY($spacing) {
  padding-top: rem($spacing);
  padding-bottom: rem($spacing);
}

@mixin padding($spacing) {
  padding: rem($spacing);
}

@mixin marginX($spacing) {
  margin-left: rem($spacing);
  margin-right: rem($spacing);
}

@mixin marginY($spacing) {
  margin-top: rem($spacing);
  margin-bottom: rem($spacing);
}

@mixin margin($spacing) {
  @include marginX($spacing);
  @include marginY($spacing);
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

// 반응형 콘텐츠
@mixin textOver {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
