<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:title" content="TVING" />
    <meta property="og:image" content="/" />
    <meta property="og:description" content="티빙 오리지널 콘텐츠, 방송, 영화, 해외시리즈까지! 재미를 플레이해보세요." />
    <meta property="og:site_name" content="TVING" />
    <meta property="og:locale" content="Kor" />
    <meta name="keywords" content="티빙, ott, 방송, 영화, 드라마, 해외시리즈" />
    <meta name="author" content="팔이피플" />
    <meta name="description" content="TVING 홈페이지입니다." />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-touch-icon.png" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onboading</title>
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/index.css" />
    <script src="./../js/footer.js" defer></script>
  </head>
  <body id="onboading">
    <header class="onboading">
      <h1 class="onboading__title">
        <a class="onboading__link" href="/"><span class="a11yHidden">타잉 로고</span></a>
      </h1>
    </header>

    <section class="original">
      <h2 class="original__title a11yHidden" aria-hidden="true">타잉 오리지널 콘텐츠</h2>
      <div class="original__info">
        <p class="original__contentTitle">
          티빙 오리지널 콘텐츠,<br />
          방송, 영화, 해외시리즈까지!<br />
          재미를 플레이해보세요.
        </p>
        <p class="original__contentSub">간편하게 가입하고, 원하실 때 해지할 수 있어요.</p>
        <a href="/" class="original__btn">새로워진 티빙을 만나보세요!</a>
      </div>
    </section>

    <section class="fun">
      <h2 class="fun__title a11yHidden" aria-hidden="true">타잉에만 있는 재미</h2>
      <div class="fun__info">
        <p class="fun__contentTitle">타잉에만 있는 재미</p>
        <p class="fun__contentSub">오리지널 콘텐츠를 만나보세요!</p>
        <p class="fun__contentSub2">차별화된 웰메이드 오리지널 콘텐츠</p>
      </div>
      <div class="fun__slide">
        <ul class="fun__list">
          <li class="fun__items fun__01"><img src="./../images/love_onboading.png" alt="러브캐처" /></li>
          <li class="fun__items fun__02"><img src="./../images/treasure_onboading.png" alt="보물찾기" /></li>
          <li class="fun__items fun__03"><img src="./../images/food_onboading.png" alt="푸드크로니클" /></li>
        </ul>
        <ul class="fun__listM">
          <li class="fun__items fun__01"><img src="./../images/loveM_onboading.png" alt="러브캐처" /></li>
          <li class="fun__items fun__02"><img src="./../images/treasureM_onboading.png" alt="보물찾기" /></li>
          <li class="fun__items fun__03"><img src="./../images/drinkM_onboading.png" alt="술꾼 도시여자들" /></li>
        </ul>
      </div>
    </section>

    <section class="look">
      <h2 class="look__title a11yHidden" aria-hidden="true">콘텐츠 찾기</h2>
      <div class="look__info">
        <p class="look__contentTitle">내가 찾던 재미</p>
        <p class="look__contentSub">보고 싶은 콘텐츠 발견하세요!</p>
        <p class="look__contentSub2">최신, 인기 TV프로그램, 영화, 해외시리즈, 파라마운트+, 오리지널 및 독점</p>
      </div>
      <div class="look__container">
        <div class="look__wrap">
          <div class="look__rolling__list">
            <ul class="look__list">
              <li class="look__items">
                <div class="look__img"><img src="./../images/look1_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look2_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look3_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look4_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look5_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="look__coppy">
          <div class="look__rolling__list">
            <ul class="look__look__list">
              <li class="look__items">
                <div class="look__img"><img src="./../images/look1_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look2_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look3_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look4_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
              <li class="look__items">
                <div class="look__img"><img src="./../images/look5_onboading.png" alt="슬라이드 이미지" aria-hidden="true" /></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="new">
      <h2 class="new__title a11yHidden" aria-hidden="true">시작하기</h2>
      <div class="new__info">
        <div class="new__img"><img src="./../images/logo_onboading.png" alt="타잉 로고" /></div>
        <p class="new__contentTitle">지금 시작해보세요</p>
        <a href="/" class="new__btn">새로워진 티빙을 만나보세요!</a>
      </div>
    </section>

    <footer class="footer__area">
      <h2 class="a11yHidden">공지사항</h2>
      <div class="footer__wrapper">
        <div class="footer__noticeLink">
          <a href="/" class="footer__notice">공지사항</a>
          <a href="/" class="footer__information">[안내] 합병보고 주주총회에 갈음하는 공고</a>
        </div>
        <ul class="footer__shortcut">
          <li class="shortcut">
            <button class="shortcut__btn">브랜드 바로가기<span class="shortcut__plus">+</span></button>
            <ul class="shortcut__group">
              <li><a href="/">MNET</a></li>
              <li><a href="/">MWAVE</a></li>
              <li><a href="/">tvN</a></li>
              <li><a href="/">tvN STORY</a></li>
              <li><a href="/">tvN DRAMA</a></li>
              <li><a href="/">tvN SHOW</a></li>
              <li><a href="/">OCN</a></li>
              <li><a href="/">OCNmovies</a></li>
              <li><a href="/">OCNthrills</a></li>
              <li><a href="/">중화TV</a></li>
              <li><a href="/">UXN</a></li>
              <li><a href="/">CATCH ON</a></li>
              <li><a href="/">O'live</a></li>
              <li><a href="/">XTM</a></li>
              <li><a href="/">tooniverse</a></li>
              <li><a href="/">tvnD</a></li>
            </ul>
          </li>
          <li class="shortcut">
            <button class="shortcut__btn">그룹 계열사 바로가기<span class="shortcut__plus">+</span></button>
            <ul class="shortcut__group">
              <li><a href="/">CJ주식회사</a></li>
              <li><a href="/">CJ ENM 엔터테인먼트부문</a></li>
              <li><a href="/">CJ CGV</a></li>
              <li><a href="/">CJ제일제당(식품)</a></li>
              <li><a href="/">CJ프레시웨이</a></li>
              <li><a href="/">CJ푸드빌</a></li>
              <li><a href="/">CJ엠디원</a></li>
              <li><a href="/">CJ제일제당(바이오)</a></li>
              <li><a href="/">CJ ENM 커머스부문</a></li>
              <li><a href="/">CJ대한통운</a></li>
              <li><a href="/">CJ텔레닉스</a></li>
              <li><a href="/">CJ올리브영</a></li>
              <li><a href="/">CJ대한통운(건설)</a></li>
              <li><a href="/">CJ올리브네트웍스</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="footer__hrContainer">
        <li><a href="/" class="footer__hrList">고객센터</a></li>
        <li><a href="/" class="footer__hrList">이용약관</a></li>
        <li><a href="/" class="footer__hrList">개인정보처리방침</a></li>
        <li><a href="/" class="footer__hrList">청소년 보호정책</a></li>
        <li><a href="/" class="footer__hrList">법적 고지</a></li>
        <li><a href="/" class="footer__hrList">이벤트</a></li>
        <li><a href="/" class="footer__hrList">인재채용</a></li>
      </ul>
      <div class="footer__ownerinfoContainer">
        <p class="hr__lineHeight">
          대표이사: YANG JIEUL<span class="hr__divLine" aria-hidden="true">ㅣ</span><a href="/">사업자정보확인</a
          ><span class="hr__divLine" aria-hidden="true">ㅣ</span> 사업자등록번호: 188-88-01893<span class="hr__divLine" aria-hidden="true">ㅣ</span>
          통신판매신고번호:2020-서울마포-3641호
        </p>
        <p class="hr__lineHeight">
          사업장: 서울특별시 마포구 상암산로 34, DMC 디지털큐브 15층(상암동)<span class="hr__divLine" aria-hidden="true">ㅣ</span>
          호스팅사업자: 씨제이올리브네트윅스(주)
        </p>
        <p class="hr__lineHeight">
          <a href="/" class="">고객문의 바로가기</a><span class="hr__divLine" aria-hidden="true">ㅣ</span> <a href="/">대표메일: tving@cj.net</a
          ><span class="hr__divLine" aria-hidden="true">ㅣ</span>
          <a href="/">고객센터: 1670-1525(평일/주말 09~18시, 공휴일 휴무)</a>
        </p>
        <p class="hr__lineHeight">
          ENM 시청자 상담실 (편성 문의 및 시청자 의견): 080-080-0780 <span class="hr__divLine" aria-hidden="true">ㅣ</span>
          Mnet 고객센터 (방송편성문의): 1855-1631
        </p>
      </div>
      <ul class="footer__sprite">
        <li class="sprite sprite__youtube"><span class="a11yHidden">유튜브 링크</span><a href="/"></a></li>
        <li class="sprite sprite__instagram"><span class="a11yHidden">인스타그램 링크</span><a href="/"></a></li>
        <li class="sprite sprite__twitter"><span class="a11yHidden">트위터 링크</span><a href="/"></a></li>
        <li class="sprite sprite__facebook">
          <div class="a11yHidden">페이스북 링크</div>
          <a href="/"></a>
        </li>
      </ul>
      <div class="footer__copyright">
        <small class="footer__copyrigtInfo">Copyright © 주식회사 티빙 All right reserved.</small>
      </div>
    </footer>
  </body>
</html>
