<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:title" content="TVING" />
    <meta property="og:image" content="/" />
    <meta property="og:description" content="티빙 오리지널 콘텐츠, 방송, 영화, 해외시리즈까지! 재미를 플레이해보세요." />
    <meta property="og:site_name" content="TVING" />
    <meta property="og:locale" content="Kor" />
    <meta name="keywords" content="티빙, ott, 방송, 영화, 드라마, 해외시리즈" />
    <meta name="author" content="팔이피플" />
    <meta name="description" content="TVING 홈페이지입니다." />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-touch-icon.png" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필 편집</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <!-- header -->
    <header class="profile__header">
      <h1 class="header__logo">
        <a class="header__logo__link" href="/">
          <span class="a11yHidden">티빙</span>
        </a>
      </h1>
    </header>
    <!-- header 끝 -->

    <main>
      <div class="profile__wrapper">
        <h1 class="profile__title">프로필 선택</h1>
        <p class="profile__description">시청할 프로필을 선택해주세요.</p>
        <div class="profile__container">
          <ul class="profile__list">
            <li class="profile__item">
              <a class="profile__link" href="/">
                <div class="link__container">
                  <img class="link__image" src="./../images/seulbi_profile.png" alt="슬비님" />
                  <div class="link__lock"></div>
                </div>
                <p class="profile__name">슬비님</p>
              </a>
            </li>
            <li class="profile__item">
              <a class="profile__link" href="/">
                <div class="link__container">
                  <img class="link__image" src="./../images/yamoo_profile.png" alt="야무" />
                  <div class="link__lock"></div>
                </div>
                <p class="profile__name">야무</p>
              </a>
            </li>
            <li class="profile__item">
              <a class="profile__link" href="/">
                <div class="link__container">
                  <img class="link__image" src="./../images/bum_profile.png" alt="범쌤" />
                  <div class="link__lock"></div>
                </div>
                <p class="profile__name">범쌤</p>
              </a>
            </li>
            <li class="profile__item">
              <a class="profile__link" href="/">
                <div class="link__container">
                  <img class="link__image" src="./../images/default_profile.png" alt="이듬" />
                </div>
                <p class="profile__name">이듬</p>
              </a>
            </li>
          </ul>
        </div>
        <a class="profile__edit" href="./profiles-for-edit.html">프로필 편집</a>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <ul class="footer__hrContainer">
        <li><a href="/" class="footer__hrList">고객센터</a></li>
        <li><a href="/" class="footer__hrList">이용약관</a></li>
        <li><a href="/" class="footer__hrList">개인정보처리방침</a></li>
        <li><a href="/" class="footer__hrList">청소년 보호정책</a></li>
        <li><a href="/" class="footer__hrList">법적 고지</a></li>
        <li><a href="/" class="footer__hrList">이벤트</a></li>
        <li><a href="/" class="footer__hrList">인재채용</a></li>
      </ul>
      <div class="footer__ownerinfoContainer">
        <p class="hr__lineHeight">
          대표이사: YANG JIEUL<span class="hr__divLine" aria-hidden="true">ㅣ</span><a href="/">사업자정보확인</a
          ><span class="hr__divLine" aria-hidden="true">ㅣ</span> 사업자등록번호: 188-88-01893<span class="hr__divLine" aria-hidden="true">ㅣ</span>
          통신판매신고번호:2020-서울마포-3641호
        </p>
        <p class="hr__lineHeight">
          사업장: 서울특별시 마포구 상암산로 34, DMC 디지털큐브 15층(상암동)<span class="hr__divLine" aria-hidden="true">ㅣ</span>
          호스팅사업자: 씨제이올리브네트윅스(주)
        </p>
        <p class="hr__lineHeight">
          <a href="/" class="">고객문의 바로가기</a><span class="hr__divLine" aria-hidden="true">ㅣ</span> <a href="/">대표메일: tving@cj.net</a
          ><span class="hr__divLine" aria-hidden="true">ㅣ</span>
          <a href="/">고객센터: 1670-1525(평일/주말 09~18시, 공휴일 휴무)</a>
        </p>
        <p class="hr__lineHeight">
          ENM 시청자 상담실 (편성 문의 및 시청자 의견): 080-080-0780 <span class="hr__divLine" aria-hidden="true">ㅣ</span>
          Mnet 고객센터 (방송편성문의): 1855-1631
        </p>
      </div>
      <ul class="footer__sprite">
        <li class="sprite sprite__youtube"><span class="a11yHidden">유튜브 링크</span><a href="/"></a></li>
        <li class="sprite sprite__instagram"><span class="a11yHidden">인스타그램 링크</span><a href="/"></a></li>
        <li class="sprite sprite__twitter"><span class="a11yHidden">트위터 링크</span><a href="/"></a></li>
        <li class="sprite sprite__facebook">
          <div class="a11yHidden">페이스북 링크</div>
          <a href="/"></a>
        </li>
      </ul>
      <div class="footer__copyright">
        <small class="footer__copyrigtInfo">Copyright © 주식회사 티빙 All right reserved.</small>
      </div>
    </footer>
    <!-- footer 끝 -->
  </body>
</html>
