@use "./../utils" as *;

// 티빙 스포츠 생중계


// *{
//   background: rgb(0, 0, 0);
//   font: Pretendard;
// }


// html {
//   font-size: calc(8px + .5vw);
// }
// 이벤트라인
.sportsLive__title {
  padding: 36px 70px 36px 70px;
}

.footer__event__menu {
  color: $white;
  font: $heading-xl;
  padding-bottom: 12px;
  padding-left: 70px;
}

.footer__event__list {
  display: flex;
  padding-left: 70px;
  padding-bottom: 36px;
  gap: 16px;
}
// 푸터 컨텐츠 ------------------------------

.footer {
  &__wrapper {
    background: yelloW;

  }
  &__area {
    
    background: black;
    border: 10px solid red;
  }

  &__wrapper {
    @include flexbox ($justify: space-between);  
    border-bottom: 1px solid #212121;
    padding-bottom: rem(12px);
    background: red;
  }
  

  @include mobileW {
    &__area {
      @include paddingSquare (52, 16, 82, 16);
    font: $par-sm;
    }
    &__direct {
      display: none;
    }

  }

  @include tabletW {
    

    &__area {
      @include paddingSquare (70, 40, 100, 40);
    font: $par-sm;
    }
    &__direct {
      display: flex;
      color: #c4c4c4;
      gap: 60px;
      justify-content: flex-end;
    }

  }
  @include desktopW {
    
      &__area {
        @include paddingSquare (140, 68, 170, 68);
      font: $par-md;
      }
      &__direct {
        display: flex;
        color: #c4c4c4;
        gap: 60px;
        justify-content: flex-end;
      }

  }



}

.footer__notice {
  color: #6b6b6b;
  gap: 20px;
}

.footer__information {
  color: #c4c4c4;
}



.footer__groupDirect {
  display: flex;
  gap: 60px;
}


.footer__menu {
  display: flex;
  padding-top: 27px;
  gap: 24px;
  padding-bottom: 24px;
  color: #c4c4c4;
}

.footer__copyright__box {
  color: #6b6b6b;
  padding-bottom: 24px;
}

.footer__sprite {
  width: 268px;
  height: 52px;
  display: flex;
  gap: 20px;
}

.footer__sprite li {
  list-style: none;
  border-radius: 30px;
}

.youtube {
  width: 52px;
  height: 52px;
  background: url(./../../images/sprite__icon_footer.png) no-repeat 0 -885px;
}

.instagram {
  width: 52px;
  height: 52px;
  background: url(./../../images/sprite__icon_footer.png) no-repeat -112px -885px;
}

.twitter {
  width: 52px;
  height: 52px;
  background: url(./../../images/sprite__icon_footer.png) no-repeat -224px -885px;
}

.facebook {
  width: 52px;
  height: 52px;
  background: url(./../../images/sprite__icon_footer.png) no-repeat -336px -885px;
}

.footer__copyright {
  color: #6b6b6b;
  padding-top: 24px;
}


.footer {
  &__shortcut {
    @include desktopW {
      @include flexbox($gap:60px);
    }
    
    @include tabletW {
      @include flexbox($gap:32px);
    }
    @include mobileW {
      display: none;
    }
    .shortcut {
      position: relative;
      color: $gray200;
      &__brand, &__group {
        @include flexbox($direction:column);
      }
      @include desktopW{
        min-width: 165px;
        font: $par-lg;
      }
      @include tabletW{
        min-width: 100px;
        font: $par-sm;
      }
      &__btn {
        padding: 0;
        border: 0;
        background: transparent;
        color: $gray200;
        cursor: pointer;
      }
      &__plus {
        margin-left: 16px;
      }
      &__group.is--active{
        @include flexbox($direction:column, $gap:5px);
      }
      &__group{
        display: none;
        position: absolute;
        background: $gray700;
        border-radius: 5px;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        @include tabletW {
          top: -105px;
          height: 100px;
          padding: 5px;
        }
        @include desktopW {
          top: -210px;
          height: 200px;
          padding: 10px;
        }
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: $red2;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track   {
          background:#e9394547;
        }
        a:hover {
          color: $base-text;
        }
      }
    }
  }
}


