@use "./../utils" as *;
@use "./../components" as *;

//viewport 전체 기본 배경 및 폰트 색상 (black)
body {
  background: $base-bg;
  color: $base-text;
}

//Quick VOD, 실시간 인기 프로그램 Section 공통 사항
.qVod,
.popShow {
  overflow: hidden;
  margin-bottom: rem(36px);

  @include mobileW {
    transform: translateX(8px);
  }
  @include tabletW {
    transform: translateX(40px);
  }
  @include desktopW {
    transform: translateX(70px);
  }

  &__list {
    @include mobileW {
      @include flexbox(row, flex-start, center, nowrap, rem(8px));
    }
    @include tabletW {
      @include flexbox(row, flex-start, center, nowrap, rem(8px));
    }
    @include desktopW {
      @include flexbox(row, flex-start, center, nowrap, rem(16px));
    }
  }

  //hover 시 애니메이션 (위로 20px)
  &__items {
    transition-property: z-index, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }

  &__items:hover {
    transform: translateY(rem(-12px));
  }

  //section 제목, 시리즈 이름, 이미지 공통 기본 스타일링
  &__title {
    margin-bottom: rem(12px);

    @include mobileW {
      font: $label-sm;
    }
    @include tabletW {
      font: $heading-md;
    }
    @include desktopW {
      font: $heading-xl;
    }
  }

  &__name {
    color: $gray200;

    @include mobileW {
      font: $label-sm;
    }
    @include tabletW {
      font: $label-sm;
    }
    @include desktopW {
      font: $label-lg;
    }
  }

  img {
    width: 100%;
  }
}

//Quick VOD
.qVod {
  &__items {
    position: relative;
  }

  //Quick VOD 의 a 태그. width 값 설정함.
  &__link {
    display: block;

    @include mobileW {
      width: rem(145px);
    }

    @include tabletW {
      width: rem(224px);
    }

    @include desktopW {
      width: rem(345px);
    }
  }

  //썸네일 위 Quick VOD 표시
  &__quick {
    @include posLeftTop(5px, 5px);
    background: #c73e4e;
    border-radius: rem(4px);

    @include mobileW {
      @include paddingX(6px);
      @include paddingY(1px);
      line-height: rem(16px);
      font: $par-sm;
    }
    @include tabletW {
      @include paddingX(6px);
      @include paddingY(1px);
      line-height: rem(16px);
      font: $par-sm;
    }
    @include desktopW {
      @include paddingX(9px);
      @include paddingY(2px);
      line-height: rem(26px);
      font: $par-md;
    }
  }

  //Quick VOD 별 제목
  &__name {
    margin-bottom: rem(4px);
    @include textOver;
  }

  //Quick VOD 별 회차
  &__epiNo {
    color: $gray300;

    @include mobileW {
      font: $par-sm;
    }
    @include tabletW {
      font: $par-sm;
    }
    @include desktopW {
      font: $par-md;
    }
  }
}

//실시간 인기 프로그램
.popShow {
  &__items {
    //인기 프로그램 랭크
    counter-increment: number;
  }

  //인기 프로그램 리스트 아이템의 a 태그. width 값 설정함.
  &__link {
    //::before 의 absolute 값 기준을 위해 설정한 relative
    position: relative;
    display: block;

    @include mobileW {
      width: rem(92px);
    }

    @include tabletW {
      width: rem(130px);
    }

    @include desktopW {
      width: rem(240px);
    }
  }

  //인기 프로그램 리스트 중 일부의 청불 표시
  @at-root .name__adult {
    @include flexbox(row, center, center, nowrap, 0);
    @include posRightTop;
    right: 5px;
    top: 5px;
    background: $red1 no-repeat;
    border-radius: 50%;
    width: rem(28px);
    height: rem(28px);
    color: $base-text;
    font-family: Noto Sans KR;
    font-size: rem(15px);
    line-height: rem(28px);
  }

  //인기 프로그램 랭크, 제목을 위한 wrapper
  .popShow__wrapper {
    @include flexbox;

    @at-root .popShow__name {
      //ellipsis 를 위한 css
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      color: $gray200;

      //순위 숫자가 차지할 공간에 margin 부여

      @include mobileW {
        margin-top: rem(4px);
        margin-left: rem(30px);
      }
      @include tabletW {
        margin-top: rem(7px);
        margin-left: rem(40px);
      }
      @include desktopW {
        margin-top: rem(11px);
        margin-left: rem(60px);
      }

      //인기 프로그램 순위 숫자를 나타내기 위한 가상 요소
      &::before {
        position: absolute;
        bottom: 0;
        content: counter(number);

        //숫자 폰트 (전체 폰트와는 상이함. font_scss 에 없는 세팅)
        font-family: Noto Sans KR;
        font-weight: 700;
        color: $base-text;
        transform: skewX(-7.5deg);

        //제목에 함께 주었던 margin-left 를 되돌림.
        @include mobileW {
          font-size: rem(34px);
          line-height: rem(34px);
          margin-left: rem(-30px);
        }
        @include tabletW {
          font-size: rem(46px);
          line-height: rem(46px);
          margin-left: rem(-40px);
        }
        @include desktopW {
          font-size: rem(70px);
          line-height: rem(70px);
          margin-left: rem(-60px);
        }
      }
    }

    //인기 프로그램 제목 뒤 일부에 있는 빨간 점 표시
    .popShow__redDot {
      display: inline-block;

      background: $red1 no-repeat;
      border-radius: 50%;
      content: "";

      //red dot 앞의 p 태그 (제목) 가 길어져도 숨겨지지 않도록 함.
      flex-shrink: 0;

      //red dot media 별 위치 조정
      @include mobileW {
        margin-top: rem(4px);
        margin-left: rem(1px);
        width: rem(5px);
        height: rem(5px);
      }
      @include tabletW {
        margin-top: rem(7px);
        margin-left: rem(4px);
        width: rem(6px);
        height: rem(6px);
      }
      @include desktopW {
        margin-top: rem(10px);
        margin-left: rem(5px);
        width: rem(10px);
        height: rem(10px);
      }
    }
  }
}
